/RevisaoJava/nbproject/private/
/RevisaoJava/dist/
/RevisaoJava/build/
.DS_Store
RevisaoJava/.DS_Store
RevisaoJava/.DS_Store
RevisaoJava/.DS_Store
RevisaoJava/.DS_Store
/CalculadoraIMC/nbproject/private/
/CalculadoraIMC/build/
