/RevisaoJava/nbproject/private/
/RevisaoJava/dist/
/RevisaoJava/build/
.DS_Store
RevisaoJava/.DS_Store
RevisaoJava/.DS_Store
RevisaoJava/.DS_Store
RevisaoJava/.DS_Store
/CalculadoraIMC/nbproject/private/
/CalculadoraIMC/build/
/UniClima/nbproject/private/
/UniClima/build/
/UniClima/dist/
/Bhaskara_Servlet/nbproject/private/
/Bhaskara_Servlet/build/
/Bhaskara_Servlet/dist/
/Projeto_SisAcademico/SisAcademico/nbproject/private/
/Projeto_SisAcademico/SisAcademico/build/
RevisaoJava/.DS_Store
